body {
}
.myrow {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
}
.coltrai{
    flex: 0 0 auto;
    width: 75%;
}

.colphai {
    flex: 0 0 auto;
    width: 25%;
}

.colloai {
    flex: 0 0 auto;
    width: 25%;
}

.colsp {
    flex: 0 0 auto;
    width: 75%;
}